.navbar {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  /* border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4)); */
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.collapsed {
  width: 60px;
}

.wrapper {
  display: flex;
  flex: 1;
}

.aside {
  flex: 0 0 60px;
  background-color: var(--mantine-color-body);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7)); */
}

.main {
  flex: 1;
  height: 100%;
  /* background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6)); */
}

.title {
  font-family: Outfit, var(--mantine-font-family);
  margin-bottom: var(--mantine-spacing-xl);
  /* background-color: var(--mantine-color-body); */
  padding: var(--mantine-spacing-md);
  font-weight: 500;
  height: 60px;
  /* border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7)); */
}

.logo {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  height: 60px;
  padding-top: var(--mantine-spacing-md);
  /* border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7)); */
  margin-bottom: var(--mantine-spacing-xl);
}

.logoImage {
  height: 18px;
  object-fit: contain;
  object-position: left;
  color: var(--mantine-color-gray-7);
}

[data-mantine-color-scheme='dark'] .logoImage {
  color: var(--mantine-color-gray-6);
}

.iconLink {
  width: 44px;
  height: 44px;
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  margin-bottom: 4px;

  &:not([data-active])[data-hovered] {
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-blue-light);
      color: var(--mantine-color-blue-light-color);
    }
  }
}

.link {
  display: block;
  text-decoration: none;
  border-top-right-radius: var(--mantine-radius-md);
  border-bottom-right-radius: var(--mantine-radius-md);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  padding: 0 var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-sm);
  margin-right: var(--mantine-spacing-md);
  font-weight: 500;
  height: 44px;
  line-height: 44px;
  margin-bottom: 4px;

  &:not([data-active])[data-hovered] {
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
    color: light-dark(var(--mantine-color-dark), var(--mantine-color-light));
  }

  &[data-active] {
    &,
    &:hover {
      border-left-color: var(--mantine-color-blue-filled);
      background-color: var(--mantine-color-blue-filled);
      color: var(--mantine-color-white);
    }
  }
}
